RewriteEngine On

RewriteCond %{HTTP_HOST} ^loic-leprieur\.fr$ [NC]
RewriteRule ^/www(.*)$ /$1 [L,R=301]

RewriteBase /
RewriteCond %{REQUEST_URI} !^/(assets/?|$)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.html [L]