RewriteEngine On

RewriteCond %{HTTP_HOST} ^loic-leprieur\.fr$ [NC]
RewriteRule ^mysite-react/public/(.*)$ /$1 [L,R=301]

# Redirect requests for the subdomain 'blog.loic-leprieur.fr' to the 'blog' folder
RewriteCond %{HTTP_HOST} ^blog\.loic-leprieur\.fr$ [NC]
RewriteCond %{REQUEST_URI} !^/blog/
RewriteRule ^(.*)$ /blog/$1 [L]